.App {
  text-align: center;
}
.App-logo {
  /* height: 5vmin;
  width: 10vmax;
  pointer-events: none;
  margin-left: 5vmin; */
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  /* display: flex;
  justify-content: end;
  align-items: center; 
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
  background-image: url(./img/AdobeStock_210535515_Preview.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.whatsapp{
    display: inline-block;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    position: fixed;
    /* font-size: 14px; */
    border-radius: 100%;
    width: 45px;
    height: 45px;
    border: none;
    z-index: 100;
    min-height: 40px;
    line-height: 38px;
    text-align: center;
    outline: transparent none;
    text-decoration: none;
    color: rgb(255, 255, 255) !important;
    background: rgba(0, 0, 0, 0.3) !important;
}
.nav{
  color: black;
}

h1 {
  text-transform: uppercase;
  font-family: 'Raleway',sans-serif;
  text-align: center;
  font-weight: 500;
  letter-spacing: 3px;
  padding: 20px;
}
