.App {
  text-align: center;
}
.App-logo {
  height: 5vmin;
  width: 10vmax;
  pointer-events: none;
  margin-left: 5vmin;
}

.App-header {
  
  min-height: 10vh;
  display: flex;
  justify-content: end;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
